//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 26 13:10:03 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SEG_SEL<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "SEG_SEL<1>" LOCATE = SITE "P20" LEVEL 1;
COMP "SEG_SEL<2>" LOCATE = SITE "P19" LEVEL 1;
COMP "SEG_SEL<3>" LOCATE = SITE "P18" LEVEL 1;
COMP "SEG_SEL<4>" LOCATE = SITE "P16" LEVEL 1;
COMP "ud" LOCATE = SITE "P161" LEVEL 1;
COMP "clkin" LOCATE = SITE "P184" LEVEL 1;
COMP "SEG_DATA<0>" LOCATE = SITE "P10" LEVEL 1;
COMP "SEG_DATA<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "SEG_DATA<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "SEG_DATA<3>" LOCATE = SITE "P5" LEVEL 1;
COMP "SEG_DATA<4>" LOCATE = SITE "P4" LEVEL 1;
COMP "SEG_DATA<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "SEG_DATA<6>" LOCATE = SITE "P9" LEVEL 1;
COMP "SEG_DATA<7>" LOCATE = SITE "P3" LEVEL 1;
NET "clkin_BUFGP/IBUFG" BEL "clkin_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

