
# PlanAhead Generated physical constraints 

NET "a[1]" LOC = P183;
NET "a[0]" LOC = P182;
NET "b[1]" LOC = P181;
NET "b[0]" LOC = P180;
NET "s[1]" LOC = P162;
NET "s[0]" LOC = P161;
NET "o[3]" LOC = P42;
NET "o[1]" LOC = P44;
NET "o[0]" LOC = P45;
NET "o[2]" LOC = P43;
